
# HTID:15792639: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
AddType application/x-httpd-php .php .php5 .phtml .html .htm
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:15792639:
