html
{
	font-family: Tahoma, sans-serif;
	background: url(img/bimg.jpg);
}

body
{
	margin: 0;
}

.header
{
	background-color: rgb(34,14,13);
	opacity: .9;
	display: flex;
	flex-direction: row;
	margin: auto;
	margin-bottom: 5px;
	margin-top: 10px;
	width: 100%;
	max-width: 1200px;
	font-size: 18px;
	justify-content: space-between;
}

.middle
{
	display: flex;
	flex-direction: row;
	margin: auto;
}

.content
{
	display: flex;
	flex-direction: row;
	opacity: .9;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	max-width: 1200px;
	font-size: 14px;
	flex-grow: 1;
}

.content a:hover
{
	color: rgb(201,148,82);
	transition: all 250ms ease;
}

.book
{
	display: flex;
	flex-direction: column;
	margin: 10px;
	margin-bottom: 30px;
}

.book a
{
    width: 120px;
}

.cts
{
	background-color: rgb(34,14,13);
	padding: 20px;
	margin-right: 5px;
	display: flex;
	flex-direction: column;
}

.cts a
{
    padding: 10px;
}

.cts h2
{
    margin: 10px;
	margin-bottom: 30px;
	color: rgb(221,221,221);
}

.lib
{
	background-color: rgb(34,14,13);
	display: flex;
	flex-direction: column;
	width: 100%;
}

form
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 10px;
}

#search
{
    background-color: rgb(34,14,13);
    color: rgb(221,221,221);
    outline: none;
    border: none;
    border-bottom: solid 1px rgb(221,221,221);
    margin-right: 5px;
    width: 80%;
    height: 25px;
}

#button
{
    background-color: rgb(34,14,13);
    color: rgb(221,221,221);
    cursor: pointer;
    border: 0;
}

#button:hover
{
	color: rgb(201,148,82);
	transition: all 250ms ease;
}

.books
{
	display: flex;
	flex-wrap: wrap;
}

a
{
	color: rgb(221,221,221);
	text-decoration: none;
}

p
{
	color: rgb(221,221,221);
	padding: 20px;
}

.logo
{
	background-color: rgb(221,221,221);
	font-family: Monotype Corsiva, cursive;
	align-self: center;
	padding-left: 40px;
	padding-right: 40px;
	margin: 10px;
}

.logo p
{
	color: rgb(34,14,13);
	padding: 0;
}

.b2
{
	align-self: center;
	margin: 20px;
}

.b2 a
{
	padding: 10px;
}

.b2 a:hover
{
	background-color: rgb(221,221,221);
	color: rgb(34,14,13);
}

.b3
{
	align-self: center;	
	margin: 20px;
}

.b3 a
{
	padding: 10px;
}

.b3 a:hover
{
	background-color: rgb(221,221,221);
	color: rgb(34,14,13);
}

.b4
{
	align-self: center;
	margin: 20px;
}

.b4 a
{
	padding: 10px;
}

.b4 a:hover
{
	background-color: rgb(221,221,221);
	color: rgb(34,14,13);
}

.login
{
	align-self: center;	
	margin: auto;
}

.login a
{
	padding: 10px;
	margin-right: 10px;
}

.login a:hover
{
	background-color: rgb(221,221,221);
	color: rgb(34,14,13);
}

.rights
{
	background-color: rgb(34,14,13);
	opacity: .9;
	text-align: center;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 100%;
	max-width: 1200px;
}

.rights p
{
	margin: 0;
}

@media all and (max-width: 930px)
{
	.header
	{
		flex-direction: column;
	}

	.middle
	{
		flex-direction: column;
	}

	.login
	{
		margin: 20px;
	}

	.user
	{
		margin: 20px;
	}
}