html
{
	font-family: Tahoma, sans-serif;
	background: url(img/bimg.jpg);
}

body
{
	margin: 0;
}

form
{
	background-color: rgb(34,14,13);
	opacity: .9;
	display: flex;
	flex-direction: column;
	padding: 10px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 700px;
}

h2
{
	color: rgb(221,221,221);
	align-self: center;
}

label
{
	color: rgb(221,221,221);
	padding-bottom: 5px;
}

input
{
	font-family: Tahoma, sans-serif;
	padding: 5px;
}

button
{
	font-family: Tahoma, sans-serif;
	background-color: rgb(221,221,221);
	font-size: 14px;
	margin: 10px;
	padding: 10px 30px;
	border: 0;
	cursor: pointer;
}

button:hover
{
	background-color: rgb(201,148,82);
	color: rgb(34,14,13);
}

a
{
	margin: 5px;
	text-decoration: none;
	color: rgb(201,148,82);
}

p
{
	align-self: center;
	color: rgb(255, 0, 0);
}

.group
{
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}


.login
{
	align-self: center;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
}

.toback
{
	align-self: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.login label
{
	margin: 5px;
}

.buttons
{
	margin: auto;
	display: flex;
	flex-direction: column;
}

.error
{
    color: rgb(221,221,221);
    padding: 10px;
    border: solid 1px rgb(255,69,70);
    border-radius: 10px;
    align-self: center;
    max-width: 500px;
}