html
{
	font-family: Tahoma, sans-serif;
	background: url(img/bimg.jpg);
}

body
{
	margin: 0;
}

.header
{
	background-color: rgb(34,14,13);
	opacity: .9;
	display: flex;
	flex-direction: row;
	margin: auto;
	margin-bottom: 5px;
	margin-top: 10px;
	width: 100%;
	max-width: 1200px;
	font-size: 18px;
	justify-content: space-between;
}

.middle
{
	display: flex;
	flex-direction: row;
	margin: auto;
}

.content
{
    display: flex;
    flex-direction: column;
	background-color: rgb(34,14,13);
	opacity: .9;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
	max-width: 1200px;
	font-size: 14px;
	flex-grow: 1;
}

.content p
{
    margin: 20px;
    margin-bottom: 10px;
    padding: 0px;
}

a
{
	color: rgb(221,221,221);
	text-decoration: none;
}

p
{
	color: rgb(221,221,221);
	padding: 20px;
}

h2
{
	color: rgb(221,221,221);
	margin: 10px;
}

form
{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin-bottom: 25px;
}

.send
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    height: 30px;
    margin: 20px;
    margin-top: 0px;
}

.send p
{
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
}

.email
{
    display: flex;
    flex-direction: row;
}

#email
{
    background-color: rgb(34,14,13);
    color: rgb(221,221,221);
    border: solid 1px rgb(221,221,221);
    width: 500px;
}

#button
{
    height: 17px;
    background-color: rgb(34,14,13);
    color: rgb(221,221,221);
    cursor: pointer;
    border: 0;
}

#button:hover
{
	color: rgb(201,148,82);
	transition: all 250ms ease;
}

#message
{
    background-color: rgb(34,14,13);
    color: rgb(221,221,221);
    margin: 20px;
    border: solid 1px rgb(221,221,221);
    height: 400px;
    resize: none;
}

#result
{
    padding: 10px;
    border: solid 1px rgb(255,69,70);
    border-radius: 10px;
    align-self: center;
    max-width: 500px;
}

.logo
{
	background-color: rgb(221,221,221);
	font-family: Monotype Corsiva, cursive;
	align-self: center;
	padding-left: 40px;
	padding-right: 40px;
	margin: 10px;
}

.logo p
{
	color: rgb(34,14,13);
	padding: 0;
}

.b2
{
	align-self: center;
	margin: 20px;
}

.b2 a
{
	padding: 10px;
}

.b2 a:hover
{
	background-color: rgb(221,221,221);
	color: rgb(34,14,13);
}

.b3
{
	align-self: center;	
	margin: 20px;
}

.b3 a
{
	padding: 10px;
}

.b3 a:hover
{
	background-color: rgb(221,221,221);
	color: rgb(34,14,13);
}

.b4
{
	align-self: center;
	margin: 20px;
}

.b4 a
{
	padding: 10px;
}

.b4 a:hover
{
	background-color: rgb(221,221,221);
	color: rgb(34,14,13);
}

.login
{
	align-self: center;	
	margin: auto;
}

.login a
{
	padding: 10px;
	margin-right: 10px;
}

.login a:hover
{
	background-color: rgb(221,221,221);
	color: rgb(34,14,13);
}

.rights
{
	background-color: rgb(34,14,13);
	opacity: .9;
	text-align: center;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 100%;
	max-width: 1200px;
}

.rights p
{
	margin: 0;
}

@media all and (max-width: 930px)
{
	.header
	{
		flex-direction: column;
	}

	.middle
	{
		flex-direction: column;
	}

	.login
	{
		margin: 20px;
	}

	.user
	{
		margin: 20px;
	}
}